body { background-color: #FCEBB6;
      background-image: url(fadedroad50.jpg);
      background-repeat: no-repeat;
      background-size:cover;
      background-attachment: fixed;
      color: #221811;
  font-family: Tahoma, Arial,sans-serif;
}
#wrapper{ background-color: #FEFAEB;
          margin-left: auto;
          margin-right: auto;
          width: 80%;
          min-width: 900px;
          max-width: 1280px;
          box-shawdow: 3px 3px 3px #676767;
}
header{ background-color: #D2B48C;
         color: #8c3826;
         text-align: center;
         padding-top:5x;
         padding-bottom:5px;
}
